* {
margin: 0%;
padding: 0%;	
box-sizing: border-box;
}

html{
font-family:system-ui, -apple-system,
BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
height: 100%;
width: 100%;
}

body {
	displey: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 20px;
	background-color: #181818;
	font-family: Arial, sans-serif;
}

h1 {
	color: rgb(0, 255, 0);
	
}
button {
	padding: 10px 20px;
	font-size: 16px;
	color: #fff;
	background-color: rgb(0, 255, 0);
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}